body {
    background: white url("images/mark.png") no-repeat;
    background-position: right top;
    background-size: 500px;
    border-top: 10px solid #ccc;
}

h1 {
    color: navy;
    font-size: 25px;
}

input {
    margin: 10px;
}
